extends ../base
block title
  | About page
block main
  h1 page about-pug
  .img-wrapper
    img(src=require('./giphy.gif') width='300')
    img(src=require('./jurassic-world-logo.png') width='300')
    img(src=require('./sea-640.jpg') width='300')
    img(src=require('./winter_640.png') width='300')
    img(src=require('./ThankYou.svg') width='300')